# Environment variables
.env
.env.*
!.env.example

# Local development
.local
.idea/
.vscode/
*.swp
*.swo

# Binaries
/bin/
/dist/

# Logs
*.log
logs/ 

structure.txt

apply-migration

script.sh

venv/

cover.txt
coverage.out